<!DOCTYPE html>
<html lang="ru" class="antialiased">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v7 :: Дубль (выбор!) </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/datepicker.js"></script>
    <script src="{{url_for('static', filename = 'js/socket.io.min.js')}}"></script>
    
    <script src="{{url_for('static', filename = 'js/ovmenu.js')}}"></script>
    <!-- <script defer src="{{url_for('static', filename = 'js/alpine3.10.2.min.js')}}"></script> -->


    <script src="{{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>

    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/ovmenu.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/double.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/judge.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon_io/double_menu/favicon.ico') }}">
    <!--Replace with your tailwind.css once created-->



</head>


<body class="bg-opacity-25 leading-normal">
    <!-- Sudarshana Chkra-->
    <span class="f7_main_sc">
    </span>

    <!-- Slider MENU-->
    {% include 'nav.html' %}
    <!-- Slider MENU-->






<div>
    <!-- Rest of the HTML -->

  </div>







<div class="min-h-screen bg-indigo-700 dblMenu_bg_color py-5">
    

    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
                <a href="/">
                
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                      </svg>
                </a>&nbsp;
              </div>
                          
            <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/dbl_s">
            Рывок</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path></svg>
          </div>
          <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/dbl_j">
            Толчок</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path></svg>            
          </div>
          <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/dbl_g">
            Дубль</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/tablo">
            Табло</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/signal">
            Сигнал (*)</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/judge">
            Судейство</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/chronograph">
            Хронография</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/new-athlete">
            Атлеты</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/staff">
            Организаторы</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/sd">
            Поток</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path></svg>
        </div>        
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/bmodel">
            модель штанги</a>&nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path></svg>
        </div>        
        
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/sorokin_tv2">
                sTV2 <small> /награждение</small></a> &nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg>
        </div>        
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/sorokin_tv1">
            sTV2 <small> /помост</small></a> &nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg>
        </div>
        <div class="flex hover:scale-125 hover:bg-gray-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300 rounded-xl p-6 bg-gray-100">
            <a href="/sorokin_tv3">
            sTV3 <small> /го-тся</small></a> &nbsp;
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path></svg>
        </div>

        </div>
      </div>


<!-- 


    <div class="w-80 mx-auto mt-5 p-7">
        <a href="/dbl_s">
        <button class="jBtnz bg-green-700 border-dotted border-2 border-white w-full h-24 text-white text-3xl rounded-md px-8 py-2 text-base font-medium hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-red-300" 
                id="j1">
                    +Рывок 
                    <div class="flex items-start justify-start">
                        ①
                    </div>
        </button></a>
    </div>
    
    <div class="w-80 mx-auto mt-5 p-7">
        <a href="/dbl_j">
        <button class="jBtnz bg-yellow-400 border-dotted border-2 border-white w-full h-24 text-white text-3xl rounded-md px-8 py-2 text-base font-medium hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-red-300" 
                id="j2">
                +Толчок  
                <div class="flex items-center justify-start mt-2">
                    ②
                </div>
        </button></a>
    </div>

    <div class="w-80 mx-auto mt-5 p-7">
        <a href="/dbl_g">
        <button class="jBtnz bg-red-500 border-dotted border-2 border-white w-full h-24 text-white text-3xl rounded-md px-8 py-2 text-base font-light hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-red-300" 
                id="j3">
                +Рывок +Толчек 
                <div class="flex items-end justify-end">
                    ① + ②
                </div>
        </button></a>
    </div> -->




    </div>

    








</body>

</html>