<div class="wrapper" id="wrapper5">
	<input type="radio" onclick="save_fe_opt_cj2('1');" name="select5" id="option-17">
	<input type="radio" onclick="save_fe_opt_cj2('0');" name="select5" id="option-18">
	<input type="radio" onclick="save_fe_opt_cj2('-1');" name="select5" id="option-19">
	<input type="radio" onclick="save_fe_opt_cj2('-2');" name="select5" id="option-20">	
	  <label for="option-17" class="option option-17" data-tooltip="Толчок #2 - Засчитать Успешно!">
		<svg class="w-4 h-4 btnzzz" fill="#ff00ff" stroke="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>		
		 </label>
	  <label for="option-18" class="option option-18" data-tooltip="Толчок #2 - Не выполнил!">
		<svg class="w-4 h-4 btnzzz" fill="#ff00ff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 000 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>	
	  </label>
	  <label for="option-19" class="option option-19" data-tooltip="Толчок #2 - Отказ от выполнения">
		<svg class="w-4 h-4 btnzzz" fill="#ff0000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm1 8a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
	  </label>	  
	  <label for="option-20" class="option option-20" data-tooltip="Толчок #2 - сброс">
		<svg class="w-4 h-4" fill="#bdbdbd" stroke="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg>
	  </label>	  	  
   </div>
   <p class="cj2_caption" id="cj2id_caption">---</p>