<!DOCTYPE html>
<html lang="ru" class="antialiased">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v7pro: Управление мероприятием </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/datepicker.js"></script>
    <script src="{{url_for('static', filename = 'js/socket.io.min.js')}}"></script>
    
    <script src="{{url_for('static', filename = 'js/ovmenu.js')}}"></script>
    <!-- <script defer src="{{url_for('static', filename = 'js/alpine3.10.2.min.js')}}"></script> -->


    <script src="{{url_for('static', filename = 'js/jquery-3.6.0.min.js')}}"></script>

    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/ovmenu.css') }}">
    <!-- <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/double.css') }}"> -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/judge.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--Replace with your tailwind.css once created-->


<style>
body {
  /* -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none; */
  background-color: transparent;
  background-color: rgba(22,107,191,1);
}  

.dblMenu_bg_color {
  background-color: rgba(22,107,191,0.9);
  /* color:  rgba(22,107,191,0.9); */
}

</style>
</head>


<body class="leading-normal">
    <!-- Sudarshana Chkra-->
    <span class="f7_main_sc">
      <a href="/quit">
        <div id="pica" class="pica">
            <img src="static/img/v7-tilaka-white.png" alt="f7v-logo"
                class="shadow rounded-full mt-4 ml-4 h-9 align-middle border-none" />
        </div>
      </a>
    </span>

    <!-- Slider MENU-->
    {% include 'nav.html' %}
    <!-- Slider MENU-->






<div>
    <!-- Rest of the HTML -->

  </div>






<div class="min-h-screen bg-blue-500 dblMenu_bg_color py-5">

  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <a href = "{{ url_for('quit_app') }}">
        <div
          class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300   hover:border-white rounded-xl p-6 bg-gray-100">
          &nbsp;
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
            </path>
          </svg>
        </div>
      </a>
      <a href = "{{ url_for('flow') }}">
        <div
          class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
          Маршал&nbsp;
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"></path></svg>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
          </svg>
        </div>
      </a>
      <a href = "{{ url_for('flow_edit') }}">
        <div
          class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
          Редактор&nbsp;
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
          </svg>
        </div>
      </a>
      <a href = "{{ url_for('newat') }}">
      <div
        class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
        Атлеты&nbsp;
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
        </svg>
      </div></a>
      <a href = "{{ url_for('judge') }}">
        <div
          class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
          Судейство&nbsp;
          <svg  class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v.756a49.106 49.106 0 019.152 1 .75.75 0 01-.152 1.485h-1.918l2.474 10.124a.75.75 0 01-.375.84A6.723 6.723 0 0118.75 18a6.723 6.723 0 01-3.181-.795.75.75 0 01-.375-.84l2.474-10.124H12.75v13.28c1.293.076 2.534.343 3.697.776a.75.75 0 01-.262 1.453h-8.37a.75.75 0 01-.262-1.453c1.162-.433 2.404-.7 3.697-.775V6.24H6.332l2.474 10.124a.75.75 0 01-.375.84A6.723 6.723 0 015.25 18a6.723 6.723 0 01-3.181-.795.75.75 0 01-.375-.84L4.168 6.241H2.25a.75.75 0 01-.152-1.485 49.105 49.105 0 019.152-1V3a.75.75 0 01.75-.75zm4.878 13.543l1.872-7.662 1.872 7.662h-3.744zm-9.756 0L5.25 8.131l-1.872 7.662h3.744z"></path>
          </svg>
        </div></a>
      
      <a href = "{{ url_for('chronograph') }}">
      <div
        class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
        Хронограф&nbsp;
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
        </svg>
      </div></a>
      <a href = "{{ url_for('staff') }}">
      <div
        class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
        Организаторы&nbsp;
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
        </svg>
      </div></a>
      <a href = "{{ url_for('newflow') }}">
      <div
        class="flex hover:scale-125 hover:bg-yellow-400 hover:text-white justify-center mx-2.5 text-3xl border-2 border-gray-300  hover:border-white rounded-xl p-6 bg-gray-100">
        отчеты <small>&nbsp;bkp</small>&nbsp;
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path></svg>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
        </svg>
      </div></a>


    </div>
  </div>




    </div>

    








</body>

</html>